@font-face
  font-family: 'MyFont'

  src: url(/fonts/RedHatMono-VariableFont_wght.ttf)

#root
  height: 100%
button
  font-family: 'MyFont'
input
  font-family: 'MyFont'
.app
  font-family: 'MyFont'
  text-shadow: #ffffff 0px 0px 10px
  width: 100%
  height: 100%
  display: flex
  background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(88,88,88,1) 25%, rgba(0,0,0,1) 50%, rgba(88,88,88,1) 75%, rgba(0,0,0,1) 100%)
  align-items: center
  justify-content: space-around
*
  box-sizing: border-box

html, body
  width: 100%
  height: 100%
  padding: 0
  margin: 0
